extends ../../_layouts/talks.pug

block variables
  - var title = 'Workflow & Infra para aplicações web'

block slides
  section
    h1 #{title}
      br
      //- small Uma visão por trás do Bulldesk

  section
    h2 Workflow
      br
      small Ferramentas e processos

    ol.steps
      li.step.fragment
        span.icon.bg-navy
          i.fa.fa-users
        span.description Development
          br
          | Workflow
        ul.list
          li Pessoas
          li Processos
          li Iterações (1 ~ 4 w)
          li Breeze, Vagrant, Composer, NPM, Gulp
      li.step.fragment
        span.icon.bg-blue
          i.fa.fa-code
        span.description Source
          br
          | Management
        ul.list
          li Controle de versão
          li Code style
          li Git, Github (flow), Pull Requests
      //- li.step.fragment
      //-   span.icon.bg-aqua
      //-     i.fa.fa-cogs
      //-   span.description Build
      //-     br
      //-     | Pipeline
      //-   ul.list
      //-     li Ferramentas
      //-     li Task runners
      //-     li Sass, Browserify, Gulp
      li.step.fragment
        span.icon.bg-teal
          i.fa.fa-undo
        span.description Continuous
          br
          | Integration
        ul.list
          li Config (dotfiles)
          li Testes automáticos
          li Cobertura (> 70%)
          li Qualidade de código
          li Travis CI, Code Climate
      li.step.fragment
        span.icon.bg-orange
          i.fa.fa-rocket
        span.description Deploy
          br
          | Platforms
        ul.list
          li Deploy contínuo
          li Zero downtime
          li Multi servidores
          li SSL
          li Laravel Forge, Let's Encrypt, Envoyer.io
      li.step.fragment
        span.icon.bg-red
          i.fa.fa-line-chart
        span.description Monitoring &
          br
          | Security
        ul.list
          li Logs, Bugs, Notifications
          li Backups
          li Newrelic, Papertrail, Bugsnag, Google Analytics, Cloudflare, Amazon S3

  section
    h2 Infraestrutura
      br
      small Servidores e Serviços

    ol.steps
      li.step.fragment
        span.icon.bg-navy
          i.fa.fa-cloud
        span.description CloudFlare
        ul.list
          li CDN
          li Segurança
      li.step.fragment
        span.icon.bg-blue
          i.fa.fa-sitemap
        span.description Load
          br
          | Balancer
        ul.list
          li Balanceamento das requisições
      li.step.fragment
        span.icon.bg-teal
          i.fa.fa-code
        span.description App
          br
          | Servers
        ul.list
          li x Servidores
          li Nginx
          li PHP 7
          li Scale horizontal
      li.step.fragment
        span.icon.bg-orange
          i.fa.fa-database
        span.description Database
          br
          | Server(s)
        ul.list
          li MySQL
          li Cache & Session (Redis)
          li Master / Slave
          li Scale vertical
      li.step.fragment
        span.icon.bg-red
          i.fa.fa-cubes
        span.description Jobs
          br
          | Server
        ul.list
          li Beanstalkd (queues)
          li PHP 7
          li Scale vertical
      //- li.step.fragment
      //-   span.icon.bg-red
      //-     i.fa.fa-line-chart
      //-   span.description Monitoring &
      //-     br
      //-     | Security
      //-   ul.list
      //-     li

  //- section
  //-   h2 Development Workflow
  //-     br
  //-     small Code, commit & repeat
